
<launch>
    <remap from="trigger_time" to="controllers/imu_filter_controller/gimbal_imu/trigger_time"/>

    <node pkg="nodelet" type="nodelet" name="standalone_nodelet" args="manager"
          output="screen"/>
    <node pkg="nodelet" type="nodelet" name="galaxy_camera"
          args="load galaxy_camera/GalaxyCameraNodelet standalone_nodelet"
          output="screen">
        <param name="image_width" value="1280"/>
        <param name="image_height" value="1024"/>
        <param name="pixel_format" value="bgr8"/>
        <param name="camera_info_url" value=""/>
        <param name="camera_frame_id" value="camera"/>
        <param name="camera_sn" value="KE0200060392"/>
        <param name="enable_imu_trigger" value="true"/>
        <param name="raising_filter_value" value="0"/>
    </node>

    <node ns="galaxy_camera" name="image_proc" pkg="image_proc"
          type="image_proc" respawn="true" />
</launch>
